<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
      <h1>
        
        <%= @ad.name %>
      </h1>
      <div>
      	Duration <%= @ad.duration %>
      </div>
      <div>
      	URL <%= @ad.URL %>
      </div>
      <div>
      	Categories
      </div>
      
    </td>
    
  </tr>
</table>