<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
      <h1>
        
        <%= @title %>
      </h1>
      <div>
      	IP: <%= @pr.IP %>
      </div>
      <div>
      	Port: <%= @pr.Port %>
      </div>
      
      
    </td>
    
  </tr>
</table>