// Place all the styles related to the ads controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1{
text-align: center;
}

table.ads { 
border-width: 2px; 
border-style: solid; 
width: 75%;
margin-left:auto;
margin-right:auto;
}

tr.ads{ 
border-width: 1px; 
border-style: dashed; 
}

td.ads{ 
border-width: 1px; 
border-style: solid; 
}

th.ads{ 
border-width: 1px; 
border-style: solid;
background-color: gray; 
}






