<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
      <h1>
        
        <%= @cat.name %>
      </h1>
      <div>
      	Name <%= @cat.name %>
      </div>
      
    </td>
    
  </tr>
</table>