<table>
  		
  	<tr>
  	<th>Advertisement</th>
  	
  	<th>Time</th> <!-- also sort with categories later..-->
 
  	
  	</tr>
  	
  		<%= render :partial => "time", :collection => @times %>
  	
 </table>
  	