<tr >
	<td >
  		<%= link_to playlist.name, playlist %>
  		<%= link_to "delete", playlist, :method => :delete,
                                     :confirm => "You sure?",
                                     :title => playlist.name %>
                                     
  	</td>
  	
  	
</tr>

<!--Or use do each.. but i used for because i wanted to access i-->
