<div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  
  <div id="products">
  	<%= render :partial => "advertisement3", :object => @times %>
  	
  </div>

  <!-- will_paginate @advertisements dont forget the angle braces percentage and equal signs --> 
  
  
 
